.container {
    margin: 3rem 8rem;
}

.card {
    width: 22.5rem;
}

#profile-pic-home {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#profile-pic-user-list {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#user-list-item {
    width: 65rem;
}

#user-tabs {
    width: 65rem;
}