.container {
    margin: 3% 12%;
}

#profile-pic-home {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#profile-pic-user-list {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#user-list-item {
    width: 65rem;
}

#user-tabs {
    width: 65rem;
}